<header class="bg-primary">
  <div class="container">
    <div class="row row-middle">

      <div class="col-6">
        <a href="{{ '/' | absolute_url }}">
          <picture>
            <source srcset="{{ site.publisher_data.logo_2x || absolute_url  }} 2x, {{ site.logo || absolute_url  }} 1x" />
            <img src="{{ site.logo || absolute_url  }}" alt="{{ site.title }} logo" width="120" height="49" />
          </picture>
        </a>
      </div>

      <div class="col-6">
        <nav class="nav-links">
          {% for item in site.data.header-nav.docs %}
            <a class="nav-link"  href="{{ item.url || absolute_url }}" title="{{ item.title }}">
              {{ item.title }}
            </a>
         {% endfor %}
        </nav>
      </div>

    </div>
  </div>
</header>
